@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$primary: #ED4040;
$background-gray: #E5E5E5;
$title-black: #1F1F1F;
$secondary-gray: #969696;
$white: #FFF;
$black: #000;
$primary-blue: #3DADFF;
$roboto: Roboto;
$play: Play;
$russo: Russo One;
